<!DOCTYPE html>
<html lang="en">
{% load google_cse_tags %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8" />
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	<title>{%block title%}ASOCAM{%endblock%}</title>
  {% load compress %}
  {% compress css %}
    <link type="text/css" rel="stylesheet"  href="/files/bootstrap/css/bootstrap.min.css" >
    <link type="text/css" rel="stylesheet"  href="/files/css/asocam.css">
  {% endcompress %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  {% compress js %}
    <script type="text/javascript" src="/files/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/files/bootstrap/js/bootstrap-transition.js"></script>
  {% endcompress %}
  {%block extra_js%}{%endblock%}
</head>
<body>
<main id="main-container" class="container">
{% block header %}

      {% if user.username %}
      <div id="botones-usuario" class="btn-group pull-right">
         <a class="btn btn-success" href="/foros/perfil"><i class="icon-user opacidad-50"></i>Bienvenido {{ user.username }}</a>
         <a class="btn btn-success" href="/contrapartes/estadisticas/ver"><i class="icon-signal opacidad-50"></i>Estadísticas</a>
         <a  class="btn btn-success" href="/accounts/logout" title="Salir de Administración"><i class="icon-off opacidad-50"></i>Salir</a>
      </div>
      <div class="clearfix"></div>
    {% endif %}

    <div class="navbar ">
        <div class="navbar-inner">
            <div class="container">
              <ul class="nav" id="menu-principal">
                <li class="active"><a href="#"><img src="/files/img/home-icon.png"></a></li>
                <li><a href="#">NOTICIAS</a></li>
                <li><a href="#">SOBRE LA INICIATIVA DE INTERCAMBIO </a></li>
                <li><a href="#">PROPÓSITOS Y RESULTADOS </a></li>
                <li><a href="#">¿QUÉ ENTENDEMOS POR INNOVACIÓN? </a></li>
                <li><a href="#">¿QUÍENES PARTICIPAN? </a></li>
                <li><a href="#">RECURSOS </a></li>
              </ul>
              <ul class="nav pull-right">
                  {%if not user.username%}
                    <a href="/accounts/login" id="entrar-boton"><img src="/files/img/entrar-icon.png">Entrar</a>
                  {% endif %}
              </ul>
            </div>
        </div>
    </div>

    <div id="grisheader">
      <div class="container">
        <div class="row">
           <div class="span5" id="banner">
                <img src="/files/img/banner-foto.jpg">
            </div>
           <div class="span7 bienvenida">
               <h1 class="page-title">Plataforma de intercambios e inter-aprendizajes regionales en el tema de innovación agropecuaria y desarrollo económico
              </h1>
           </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{%block contenido%}{%endblock%}

{%block footer%}
  <footer>
      <div class="footer">
        <div class="container">
            <div class="row">
              <div class="span4">
                <div class="footer-block">
                <h4>Esta es una iniciativa promovida por COSUDE</h4>
                <a href="http://www.simas.org.ni"><img src="/files/img/cosudelogo.png"></a>
                </div>
              </div>
              <div class="span4">
                <div class="footer-block">
                <h4>Esta desarrollo de la plataforma contó con la colaboración de SIMAS y ASOCAM</h4>
                <center class="footer-logos">
                  <a href="http://www.simas.org.ni"><img class="simaslogo"src="/files/img/simaslogo.png"></a>
                  <a href="http://www.asocam.org/portal/"><img src="/files/img/asocamlogo.png"></a>
                </center>
                </div>
              </div>
              <div class="span4">
                <div class="footer-block">
                  <h4>Contacto</h4>
                  <p>COSUDE- CA marylaure.crettaz@eda.admin.ch</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="span12">
                <div class="footer-bottom">
                Plataforma de intercambios e inter-aprendizajes regionales en el tema de innovación agropecuaria y desarrollo económico    |     Copyright 2014
                </div>
              </div>
            </div>
        </div>
      </div>
  </footer>
{%endblock%}
</main>
</body>
</html>
