{% extends "base.html"%}
{% block extra_js%}
<script type="text/javascript" src="/files/js/jquery.bxSlider.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){

  var slider = $('#slider1').bxSlider({
    controls: true,
    auto:true,
    pause:8000,
    speed:1500,
    prevImage:'/files/img/prev.png',
    nextImage:'/files/img/next.png',
  });

});
</script>

{%endblock%}
{%block contenido%}

<div id="acerca-de">
  <div class="row">
    <div class="span3">&nbsp;</div>
    <div class="span8">
      <h2>SOBRE INICIATIVA DE INTERCAMBIO</h2>
      <p>Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      </p>
    </div>
    <div class="span1">&nbsp;</div>
  </div>
</div>


  <div id="actualidad">

    <div class="encabezado">
      <div class="container">
        <div class="row">
        <div class="span12 encabezado-title">
          NOTICIAS Y EVENTOS
        </div>
      </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span8">
           {% for nota in notas%}
              <div class="cuadronota">
               {%for thumb in nota.fotos.all|slice:"1"%} 
                     <img class="imagen-noticia-index" src="{{thumb.foto.url_220x160}}">
                     <div class="pais-index">{{nota.user.userprofile.contraparte.pais.nombre}}</div>
               {%endfor%}
               <div class="titulo-noticia-index">
                 <a href="/notas/{{nota.id}}">{{nota.titulo}}</a>
               </div>
               <div class="detalle-noticia-index">
                 {{nota.contenido|safe|truncatewords_html:30}}
               </div>
               <a href="/notas/{{nota.id}}" class="btn btn-mini">+ MÁS</a>
             </div>
          {% endfor %}   
        </div>

        <div class="span4">
          <h5 class="evento-bloque-title"><img src="/files/img/evento-icon.png">EVENTOS</h5>
          <div id="bloque-evento">
          {%for e in evento%}
            <div class="evento-index">
              <div class="evento-fecha">
                {{e.inicio|date:"d b" }}
              </div>
              <div class="evento-titulo">
                <a href="/agendas/eventos/{{e.id}}">{{e.evento|safe|truncatewords_html:8}} </a>
              </div>
              
                {{e.descripcion|safe|truncatewords_html:12}}
              
              <div class="clean"></div>
            </div>
          {%endfor%}
            <a href="/agendas/eventos/" class="mas-evento">MAS EVENTOS</a>
          </div>
          </div>
        </div>
      </div>


      </div>
    </div>
  </div>


    <div class="encabezado">
      <div class="container">
        <div class="row">
        <div class="span12 encabezado-title">
          PROYECTOS
        </div>
      </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span12 paises">
          <div class="organizaciones">
             {%for p in paises%}
                <div class="org-footer">
                   <div class="pais-footer"><img src="/files/img/{{p.codigo}}.png">{{p.nombre}}</div>
                   <ul>
                      {%for c in contrapartes%}
                          {%if c.pais.id == p.id %}
                             <li><a href="{{c.get_absolute_url}}">{{c.siglas}}</a></li>  
                          {%endif%}
                      {%endfor%}       
                   </ul>
                </div>
             {%endfor%}
             <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
 
{%endblock%}
