{% extends "baseinterna.html" %}

{% block title %} 
	{{ flatpage.title }}
{% endblock %}

{% block contenido %}
    <div class="encabezado encabezado-interno">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="encabezado-title">
            {{flatpage.title}}
            </div>
          </div>
        </div>
      </div>
    </div>


      <div class="container internal-content">
          <div class="row">
            <div class="span12">
              <div style="padding:30px;">
                {{ flatpage.content }}<br><br>
              </div>
            </div>
         </div>
    </div>


{% endblock %}